<ul id="tasks" class="list-group">
  <% for (var i = 0; i < widget.state.tasks.length; i++ ) {
    index = i;
    task = widget.state.tasks[index];
    %>
    <li id="<%= task.id %>" class="list-group-item d-flex justify-content-between align-items-center">
      <input
      type="checkbox"
      name="completed"
      onchange="javascript:updateTask(<%= widget.id %>, this)"
      <%= task.completed ? "checked" : "" %>>
        <input  type="text"
        class="editable-label"
        name="description"
        placeholder="New Task"
        value="<%= task.description %>"
        onchange="javascript:updateTask(<%= widget.id %>, this)" />

      </input>
      <span class="clickable delete-task" onclick="javascript:deleteTask(<%= widget.id %>, '<%=task.id%>')">x</span>
    </li>
  <% }%>
</ul>
