<ul id="tasks">
  <% for (var i = 0; i < widget.state.tasks.length; i++ ) {
    index = i;
    task = widget.state.tasks[index];
    %>
    <li>
      <input
      type="checkbox"
      name="task-<%= index %>-completed"
      onchange="javascript:updateTasks(<%= widget.id %>, this)"
      <%= task.completed ? "checked" : "" %>>
        <input  type="text"
        class="editable-label"
        name="task-<%= index %>-description"
        value="<%= task.description %>"
        onchange="javascript:updateTasks(<%= widget.id %>, this)" />
      </input>
    </li>
  <% }%>
</ul>
