<div class="widget text-widget" id="widget-<%= widget.id %>">
    <span class="clickable delete-widget" onclick="javascript:deleteWidget(<%= widget.id %>)">x</span>
      <div class="widget-header">
          <input type="text"
              class="editable-header h2"
              name="name"
              placeholder="New text widget"
              value="<%= widget.state.name %>"
              onchange="javascript:updateWidget(<%= widget.id %>, this)" />
      </div>
      <textarea
          class="widget-content"
          name="text"
          placeholder="Start typing here ..."
          onchange="javascript:updateWidget(<%= widget.id %>, this)"><%= widget.state.text %>
      </textarea>
</div>
